section{
    max-width: 900px;
    margin: 30px auto;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}
figure{
    flex: 1 0 25%;
    max-width: 25%;
}
figure:nth-child(2){
    flex-grow: 2;
}
figure img{
    width: 100%;
}
.limpiar{
clear:both;
}